body{
    /* background: url('/picture/background.jpg') no-repeat; */
    /* background-size: cover; */
    width: 100%;
    height: 100vh;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
    list-style-type: none;
}
a{
    color: black;
}
.a_header{
    color: black;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E5E5E5;
    opacity: 0.9;
}
.picture-name{
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.picture{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
nav{
    display: flex;
    margin-right: 100px;
    padding-left: 20px;
}
li{
    margin-left: 20px;
}
.my-profil{
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('/picture/header-img.jpg') no-repeat ;
    background-size: 100% 100%;
}
.title{
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    width: 40%;
}
h1{
    font-size: 50px;
}
.bold-text{
    font-weight: bold;
}
.text-profil{
    margin-top: 20px;
}
.picture-me{
    /* border: 1px solid black; */
    /* background: url('/picture/Photo\ .jpg'); */
    background-size: cover;
    width: 50%;
    height: 94vh;
}
/* section about-me */

.about-me{
    width: 100%;
    height: 550px;
    background-color: rgb(245, 242, 242);
    color: black;
    /* border: 1px solid black; */
}
.title-about{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
h3{
    font-weight: bold;
}
.line1{
    height: 1px;
    width: 120px;
    background: grey;
}
.line2{
    height: 1px;
    width: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: grey;
}
.line3{
    height: 1px;
    width:120px;;
    background: grey;
    margin-bottom: 50px;
}

.container-stack{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
.info-me{
    width: 40%;
    height: 100%;
    text-align: justify;
    /* border: 1px solid black; */
}

.qui{
    font-size: 20px;
    margin-bottom: 10px;
}
.cv{
    margin-top: 20px;
    width: 130px;
    height: 30px;
    background: black;
    color: white;
    border-radius: 5px;
}
.my-stack{
    width: 40%;
    height: 100%;
    text-align: justify;
}
.container-css{
    margin-top: 30px;
}
.css{
    width: 100%;
    height: 3px;
    background: grey;
}
.css1{
    display: flex;
    justify-content: end;
    width: 70%;
    height: 3px;
    background: black;
}
.pour-css{
    position: relative;
    top: -18px;
}

.javascript{
    /* margin-top: 30px; */
    width: 100%;
    height: 3px;
    background: grey;
}
.javascript1{
    display: flex;
    justify-content: end;
    width: 55%;
    height: 3px;
    background: black;
    
}
.pour-javascript{
    position: relative;
    top: -18px;
}

.react{
    /* margin-top: 30px; */
    width: 100%;
    height: 3px;
    background: grey;
}
.react1{
    display: flex;
    justify-content: end;
    width: 65%;
    height: 3px;
    background: black;
    
}
.pour-react{
    position: relative;
    top: -18px;
}
/* partie container-formation-experience */
.container-formation-experience{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
}
.container-formation{
    display: flex;
    justify-content: space-between;
}
h5{
    width: 130px;
}
.formation{
    width: 40%;
    height: 170px;
    background: white;
    text-align: justify;
}
.title-fomation{
    margin-top: 15px;
    margin-left: 5px
}
.formation-containt{
margin: 10px 0px 0px 5px;
width: 200px;
height: 35px;
/* border: 1px solid black; */
}
.formation-text{
    margin-left: 30px;
    padding: 5px;
    /* border: 1px solid black; */
}
.first-formation{
    margin:3px 0px
}
.experience{
    width: 40%;
}

/* section what-i-do */
.what-i-do{
    width: 100%;
    height: 250px;
    background: url('./picture/whatIDo.jpg');
    background-size: cover;
}
.filter{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.title-what-i-do{
    color: white;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}
.ordi-icon{
    width: 50px;
    height: 50px;
}
.icon1{
    color: white;
    width: 20%;
    height: 100px;
    text-align: center;
}
.react-icon{
    animation: 3s linear infinite ;
    animation-name: iconreact;
}
@keyframes iconreact {
    50%{
        transform: rotate(0.5turn);
    }
    100%{
        transform: rotate(1turn);
    }
}
.javascript-icon{
    color: white;
}

/* section projet */
.my-projects{
    width: 100%;
    height: 720px;
    background: white;
    text-align: center;
    color: black;
}
.mes_projet{
    color:grey;
    cursor: pointer;
}
.pro{
    cursor: pointer;
}
.container-title-projet{
    display: flex;
    justify-content: center;
}

.container-all-projects{
    /* height: 86%; */
    /* width: 100%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 70px;
}
.container-projects{
    display: flex;
    justify-content: space-around;
}
.container-projects-pro{
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    height: 438px;
    align-items: center;
}
.project1{
    width: 300px;
    height: 200px;
    background: gray;
    /* background: url('/picture/seljalandsfoss-g7fbe931f8_640.jpg');
    background-size: cover; */
    box-shadow: -3px -3px 10px black;
    transition: all 1s ease;
}
.twiter:hover{
    transform: scale(1.22);
    box-shadow: -3px -3px 10px black;
}
.project2{
    width: 300px;
    height: 200px;
    /* background: url('/picture/Capture\ d’écran\ 2022-03-24\ à\ 14.59.41.png') no-repeat;
    background-size: contain; */
    box-shadow: -3px -3px 10px black;
}

.twiter{
    width: 300px;
    height: 200px;
    transition: all 1s ease;
}
.deezer{
    width: 300px;
    height: 200px;
}
/* .project1:hover{
    width: 310px;
    height: 310px;
} */

/* section contact */
.contact{
    width: 100%;
    height: 300px;
    background: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.adress{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border:1px solid */
}
.title-adress{
    font-size: 22px;
}
.white{
    background: white;
    margin-bottom: 3px;
}
.white1{
    background: white;
    margin-bottom: 20px;
}
.github{
    display: flex;
    align-items: center;
}
.two-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.input-style1{
    width: 48%;
    padding: 2px
}
textarea{
    padding: 2px;
}
.form-contact{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-style{
    margin-bottom: 10px;
}
.text-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.btn-sub{
    width: 20%;
    height: 20px;
    margin-top: 10px;
}

/* footer */
.footer{
    width: 100%;
    height: 300px;
    background: black;
    background: url('./picture/whatIDo.jpg');
    background-size: cover;
    display: flex;
}
.filter-footer{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
.logo_society{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.title_dev{
    color: white;
}
.devTrotter{
    height: 60px;
    margin-right: 20px;
}
.konexio{
    height: 60px;
    margin-right: 20px;
}
.container-logo-formation{
    display: flex;
    align-items: center;
}
.nav_footer{
    display: flex;
    font-size: 20px;
    width: 100%;
    justify-content: space-between;
}
.a_footer{
    color:white;
}
.copy{
    color: white;
}


/* section test */
.test{
    width: 100%;
    height: 500px;
    background: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media queries */

@media screen and (min-width: 949px) and ( max-width:1160px )
{
    .about-me{
        height: 650px;
    }
    .formation{
        margin-top: 70px;
        width: 40%;
        height: 200px;
        background: white;
        text-align: justify;
    }
    .container-formation{
        display: block;
        align-items: center;
    }
    .formation-text{
        margin-left: 5px;
        padding: 0px;
    }
}

@media screen and (min-width: 716px) and (max-width: 938px) {
    
    .about-me{
        height: 650px;
    }
    .formation{
        margin-top: 70px;
        width: 40%;
        height: 200px;
        background: white;
        text-align: justify;
    }
    .container-formation{
        display: block;
        align-items: center;
    }
    .formation-text{
        margin-left: 5px;
        padding: 0px;
    }
    .my-projects{
        height: 1020px;
    }
    .container-all-projects{
        /* display: grid; */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 70px;
    }
}
@media screen and (min-width: 619px) and (max-width: 716px) {
    .about-me{
        height: 720px;
    }
    .formation{
        margin-top: 120px;
        width: 40%;
        height: 240px;
        background: white;
        text-align: justify;
    }
    .container-formation{
        display: block;
        align-items: center;
    }
    .formation-text{
        margin: 0px 5px;
        padding: 0px;
    }
    .my-projects{
        height: 1020px;
    }
    .container-all-projects{
        /* display: grid; */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 70px;
    }
}
@media screen and (min-width: 100px) and (max-width: 619px) {
    .picture-name{
        margin-left: 10px;
    }
    h1{
        font-size: 22px;
    }
    .my-name{
        display: none;
    }
    .head{
        opacity: 1;
        display: flex;
        flex-direction: row;
        /* justify-content: center;
        align-items: center; */
    }
    .title{
        width: 46%;
    }
    .my-profil{
        height:46vh;
    }
    .picture-me{
        height: 46vh;
    }

    .about-me{
        height: 1380px;
    }
    .container-stack{
        height: 565px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .info-me{
        width: 70%;
    }

    .my-stack{
        width: 70%;
    }
    .container-formation-experience{
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .my-stack{
        margin-top: 40px;
    }
    .pour-css{
        left: 28px;
    }
    .pour-javascript{
        left: 28px;
    }
    .pour-react{
        left: 28px;
    }
    .formation{
        width: 70%;
        height: 230px;
        background: white;
        text-align: center;
    }
    .formation-containt{
        text-align: center;
        width: 100%;
    }
    h5{
        text-align: center;
        width: 100%;
    }
    .container-formation{
        display: block;
    }
    .formation-text{
        margin: 0px 5px;
        padding: 0px;
    }
    /* what i do */
    .what-i-do{
        height: 978px
    }
    /* .title-what-i-do{
        color: white;
        position: absolute;
        left: 42%;
    } */
    .filter{
        display: flex;
        flex-direction: column;
    }
    .my-projects{
        height: 1750px;
    }
    .container-all-projects{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 70px;
    }   
    .container-projects-pro{
        flex-direction: column;
        align-items: center;
        grid-column-gap: 20px;
        grid-row-gap: 70px;
    }
    /* Contact */
    .adress{
        width: 50%;
    }
    .contact{
        flex-direction: column;
        height: 500px;
    } 
    .input-style1{
        width: 45%;
    }
    .form-contact{
        width: 50%;
    }
    .btn-sub{
        width: 34% ;
    }
}